.article{
  margin-bottom: 3rem;
}
.article p{
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 0.1px;
  line-height: 1.5;
}
.article section a{
  text-decoration: underline;
}
.article ol, 
.article ul{
  padding-left: 18px;
}
.article img{
  margin-bottom: 15px;
}
.article h1{
  margin-bottom: 20px; 
}
.article h2{
  font-size: 1.875rem;
  margin-bottom: 15px;
}
.article h4{
  font-size:1.25rem;
  margin-bottom: 10px;
}
.article li{
  margin-bottom: 10px;
}